<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <link href="/css/kakoamap.css" rel="stylesheet"/>

    <title>Board Modify</title>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Board Modify
                </div>

                <div class="card-body">
                    <form th:action="@{board/modify}" method="post" id="f1">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Bno</span>
                            <input type="text" name="bno" class="form-control" th:value="${dto.bno}" readonly>
                            <input type="text" name="id" class="form-control" th:value="${dto.id}" hidden>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Title</span>
                            <input type="text" name="title" class="form-control" th:value="${dto.title}">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Content</span>
                            <textarea name="content" class="form-control col-sm-5"
                                      rows="5">[[${dto.content}]] </textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Name</span>
                            <input type="text" name="name" class="form-control" th:value="${userName}" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Images</span>
                            <div class="float-end uploadHidden">
                                <button type="button" class="btn btn-primary uploadFileBtn">ADD Files</button>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">RegDate</span>
                            <input type="text" name="regdate" class="form-control"
                                   th:value="${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">ModDate</span>
                            <input type="text" name="moddate" class="form-control"
                                   th:value="${#temporals.format(dto.modDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Map</span>
                            <div class="float-end mapHidden">
                                <button type="button" class="btn btn-primary MapOpenBtn">Map OPEN</button>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Xaxis</span>
                            <input type="text" id="xxx" name="xaxis" class="form-control" th:value="${dto.xaxis}" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Yaxis</span>
                            <input type="text" id="yyy" name="yaxis" class="form-control" th:value="${dto.yaxis}" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">PlaceName</span>
                            <input type="text" id="placeName" name="placeName" class="form-control" th:value="${dto.placeName}" readonly>
                        </div>

                        <div class="my-4">
                            <div class="float-end">
                                <button type="button" class="btn btn-primary listBtn">List</button>
                                <button type="button" class="btn btn-secondary modBtn">Modify</button>
                                <button type="button" class="btn btn-danger removeBtn">Delete</button>
                            </div>
                        </div>
                    </form>
                </div><!--end card body-->
            </div><!--end card-->
        </div><!-- end col-->
    </div><!-- end row-->

    <!—- 첨부 파일 섬네일을 보여줄 부분 -->
    <div class="row mt-3">
        <div class="col ">
            <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;">
                <th:block th:each="fileName:${dto.fileNames}">
                    <div class="card col-4" th:with="arr = ${fileName.split('_')}">
                        <div class="card-header d-flex justify-content-center">
                            [[${arr[1]}]]
                            <button class="btn-sm btn-danger"
                                    th:onclick="removeFile([[${arr[0]}]], [[${arr[1]}]], this)">X
                            </button>
                        </div>
                        <div class="card-body">
                            <img th:src="|/view/s_${fileName}|" th:data-src="${fileName}">
                        </div>
                    </div><!-- card -->
                </th:block>
            </div>
        </div>
    </div>

    <!—- 첨부파일 추가를 위한 모달창 -->
    <div class="modal uploadModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="file" name="files" class="form-control" multiple>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary uploadBtn">Upload</button>
                    <button type="button" class="btn btn-outline-dark closeUploadBtn">Close</button>
                </div>
            </div>
        </div>
    </div><!-- register modal -->


    <div class="modal mapModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload Map</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="map_wrap">
                    <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>

                    <div id="menu_wrap" class="bg_white">
                        <div class="option">
                            <div>
                                <form onsubmit="searchPlaces(); return false;">
                                    키워드 : <input type="text" th:value="${dto.placeName}" id="keyword" size="15">
                                    <button type="submit">검색하기</button>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <ul id="placesList"></ul>
                        <div id="pagination"></div>
                    </div>
                </div>
                <button id="modalCloseButton">닫기</button>
            </div>
        </div>
    </div>

    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ef1d2aa6811f99e2d06bc35a4229086a&libraries=services"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/js/upload.js"></script>

</div>

<script layout:fragment="script" th:inline="javascript">
    const errors = [[${errors}]]
    let errorMsg = ''
    if (errors) {
        for (let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        history.replaceState({}, null, null)
        alert(errorMsg)
    }

    const link = [[${pageRequestDTO.getLink()}]]
    const formObj = document.querySelector("#f1")

    document.querySelector(".modBtn").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()
        formObj.action = `/board/modify?${link}`

        //첨부파일 추가
        appendFileData()
        //삭제대상 파일들 삭제
        callRemoveFiles()

        formObj.method = 'post'
        formObj.submit()
    }, false)

    //첨부파일 추가 메서드 작성
    function appendFileData() {
        const target = document.querySelector(".uploadHidden")
        const uploadFiles = uploadResult.querySelectorAll("img")
        let str = ''
        for (let i = 0; i < uploadFiles.length; i++) {
            const uploadFile = uploadFiles[i];
            const imgLink = uploadFile.getAttribute("data-src")
            str += `<input type='hidden' name='fileNames' value="${imgLink}">`
        }
        target.innerHTML = str;
    }

    document.querySelector(".removeBtn").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        //화면에 보이는 파일을 form에 추가
        appendFileData()
        //화면에서 안보이도록 처리된 파일
        appendNotShownData()

        formObj.action = `/board/delete`
        formObj.method = 'post'
        formObj.submit()
    }, false)

    //최종적으로 삭제될 첨부파일들의 목록
    const removeFileList = []

    function appendNotShownData() {
        if (removeFileList.length == 0) {
            return
        }
        const target = document.querySelector(".uploadHidden")
        let str = ''
        for (let i = 0; i < removeFileList.length; i++) {
            const {uuid, fileName} = removeFileList[i];
            str += `<input type='hidden' name='fileName' value="${uuid}_${fileName}">`
        }
        target.innerHTML += str;
    }

    //삭제대상 파일 삭제 메서드
    function callRemoveFiles() {
        removeFileList.forEach(({uuid, fileName}) => {
            removeFileToServer({uuid, fileName})
        })
    }

    function removeFile(uuid, fileName, obj) {
        if (!confirm("파일을 삭제하겠습니까?")) {
            return
        }
        removeFileList.push({uuid, fileName})
        removeFileToServer(uuid, fileName).then(data => {

            const targetDiv = obj.closest(".card")
            targetDiv.remove()
        })

    }

    document.querySelector(".listBtn").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()
        formObj.reset()
        self.location = `/board/list?${link}`
    }, false)

    //업로드 모달
    const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))

    document.querySelector(".uploadFileBtn").addEventListener("click", function (e) {
        e.stopPropagation()
        e.preventDefault()
        uploadModal.show()
    }, false)

    const uploadResult = document.querySelector(".uploadResult")

    function showUploadFile({uuid, fileName, link}) {
        const str = `<div class="card col-4">
                <div class="card-header d-flex justify-content-center">
                    ${fileName}
                    <button class="btn-sm btn-danger" onclick="javascript:removeFile('${uuid}','${fileName}',this)">X</button>
                </div>
                <div class="card-body">
                    <img src="/view/${link}" data-src="${uuid + "_" + fileName}">
                </div>
            </div> `
        uploadResult.innerHTML += str
    }

    document.querySelector(".uploadBtn").addEventListener("click", function (e) {
        const formObj = new FormData();
        const fileInput = document.querySelector("input[name='files']")
        const files = fileInput.files
        for (let i = 0; i < files.length; i++) {
            formObj.append("files", files[i])
        }
        uploadToServer(formObj).then(result => {
            for (const uploadResult of result) {
                showUploadFile(uploadResult)
            }
            uploadModal.hide()
        }).catch(e => {
            uploadModal.hide()
        })
    }, false)

    //////////////////////////////////////////////////////////////////////////// kakaoMap

    // 마커를 담을 배열입니다
    let map;
    let ps;
    let markers = [];

    var mapx = [[${dto.xaxis}]];
    var mapy = [[${dto.yaxis}]];
    var placeName = [[${dto.placeName}]];

    const mapModal = new bootstrap.Modal(document.querySelector(".mapModal"))
    document.querySelector('.MapOpenBtn').addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()
        mapModal.show()
        if (!map) {
            initializeMap();
        }
    })

    const modalCloseButton = document.getElementById('modalCloseButton');
    modalCloseButton.addEventListener('click', function (e) {
        e.stopPropagation(); // 이벤트 전파를 막음
        e.preventDefault();
        mapModal.hide()
    });

    function initializeMap() {
        const mapContainer = document.getElementById('map');
        const mapOption = {
            center: new kakao.maps.LatLng(mapy, mapx),
            level: 4  // 초기 지도 레벨을 4로 설정
        };
        map = new kakao.maps.Map(mapContainer, mapOption);
        ps = new kakao.maps.services.Places();
        searchPlaces();  // 모달이 열릴 때 바로 장소 검색을 수행합니다
    }

    // 키워드 검색을 요청하는 함수입니다
    function searchPlaces() {

        var keyword = document.getElementById('keyword').value;

        if (!keyword.replace(/^\s+|\s+$/g, '')) {
            alert('키워드를 입력해주세요!');
            return false;
        }

        // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
        ps.keywordSearch(keyword, placesSearchCB);
    }

    // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
    function placesSearchCB(data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {

            // 정상적으로 검색이 완료됐으면
            // 검색 목록과 마커를 표출합니다
            displayPlaces(data);

            // 페이지 번호를 표출합니다
            displayPagination(pagination);

        } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

            alert('검색 결과가 존재하지 않습니다.');
            return;

        } else if (status === kakao.maps.services.Status.ERROR) {

            alert('검색 결과 중 오류가 발생했습니다.');
            return;

        }
    }

    // 검색 결과 목록과 마커를 표출하는 함수입니다
    function displayPlaces(places) {

        var listEl = document.getElementById('placesList'),
            menuEl = document.getElementById('menu_wrap'),
            fragment = document.createDocumentFragment(),
            bounds = new kakao.maps.LatLngBounds(),
            listStr = '';

        // 검색 결과 목록에 추가된 항목들을 제거합니다
        removeAllChildNods(listEl);

        // 지도에 표시되고 있는 마커를 제거합니다
        removeMarker();

        for (var i = 0; i < places.length; i++) {

            // 마커를 생성하고 지도에 표시합니다
            var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
                marker = addMarker(placePosition, i),
                itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
            // LatLngBounds 객체에 좌표를 추가합니다
            bounds.extend(placePosition);

            // 마커와 검색결과 항목에 mouseover 했을때
            // 해당 장소에 인포윈도우에 장소명을 표시합니다
            // mouseout 했을 때는 인포윈도우를 닫습니다
            // (function(marker, title) {
            //     kakao.maps.event.addListener(marker, 'mouseover', function() {
            //         displayInfowindow(marker, title);
            //     });
            //
            //     kakao.maps.event.addListener(marker, 'mouseout', function() {
            //         infowindow.close();
            //     });
            //
            //     itemEl.onmouseover =  function () {
            //         displayInfowindow(marker, title);
            //     };
            //
            //     itemEl.onmouseout =  function () {
            //         infowindow.close();
            //     };
            //
            // })(marker, places[i].place_name);

            fragment.appendChild(itemEl);
        }

        // 검색결과 항목들을 검색결과 목록 Element에 추가합니다
        listEl.appendChild(fragment);
        menuEl.scrollTop = 0;

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
        map.setBounds(bounds);
    }

    // 검색결과 항목을 Element로 반환하는 함수입니다
    function getListItem(index, places) {
        var el = document.createElement('li'),
            itemStr = '<span class="markerbg marker_' + (index + 1) + '"></span>' +
                '<div class="info" id="info' + (index + 1) + '">' +  // 수정된 부분
                '   <h5 id="name' + (index + 1) + '">' + places.place_name + '</h5>' + // *
                '   <span id="address' + (index + 1) + '">' + (places.road_address_name || places.address_name) + '</span>' + // *
                '   <span class="tel" id="phone' + (index + 1) + '">' + places.phone + '</span>' + // *
                '</div>';

        el.innerHTML = itemStr;
        el.className = 'item';

        // info 요소 클릭 시 좌표 및 ID 출력
        el.querySelector('.info').addEventListener('click', function () {
            var placePosition = new kakao.maps.LatLng(places.y, places.x);

            var yaxis = Math.round(placePosition.getLat() * 1000000) / 1000000;
            var xaxis = Math.round(placePosition.getLng() * 1000000) / 1000000;

            document.getElementById('xxx').value = xaxis;
            document.getElementById('yyy').value = yaxis;

            document.getElementById('placeName').value = places.place_name;

            mapModal.hide();
        });

        return el;
    }

    // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
    function addMarker(position, idx, title) {
        var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
            imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
            imgOptions = {
                spriteSize: new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
                spriteOrigin: new kakao.maps.Point(0, (idx * 46) + 10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
                offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
            },
            markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
            marker = new kakao.maps.Marker({
                position: position, // 마커의 위치
                image: markerImage
            });

        marker.setMap(map); // 지도 위에 마커를 표출합니다
        markers.push(marker);  // 배열에 생성된 마커를 추가합니다

        return marker;
    }

    // 지도 위에 표시되고 있는 마커를 모두 제거합니다
    function removeMarker() {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        markers = [];
    }

    // 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
    function displayPagination(pagination) {
        var paginationEl = document.getElementById('pagination'),
            fragment = document.createDocumentFragment(),
            i;

        // 기존에 추가된 페이지번호를 삭제합니다
        while (paginationEl.hasChildNodes()) {
            paginationEl.removeChild(paginationEl.lastChild);
        }

        for (i = 1; i <= pagination.last; i++) {
            var el = document.createElement('a');
            el.href = "#";
            el.innerHTML = i;

            if (i === pagination.current) {
                el.className = 'on';
            } else {
                el.onclick = (function (i) {
                    return function () {
                        pagination.gotoPage(i);
                    }
                })(i);
            }

            fragment.appendChild(el);
        }
        paginationEl.appendChild(fragment);
    }

    // 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
    // 인포윈도우에 장소명을 표시합니다
    function displayInfowindow(marker, title) {
        var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

        infowindow.setContent(content);
        infowindow.open(map, marker);
    }

    // 검색결과 목록의 자식 Element를 제거하는 함수입니다
    function removeAllChildNods(el) {
        while (el.hasChildNodes()) {
            el.removeChild(el.lastChild);
        }
    }

    function centerMap() {
        // 모달 내 지도가 중앙에 오도록 위치 조정
        var mapWidth = mapContainer.offsetWidth;
        var mapHeight = mapContainer.offsetHeight;

        var centerPosition = new kakao.maps.LatLng(mapy, mapx);
        map.setCenter(centerPosition);
    }


</script>
</html>