<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link th:href="@{./css/header.css}" rel="stylesheet">
</head>
<body>
<div th:fragment="header">
    <div class="header">
        <nav>
            <div class="logo">
                <a href="/">🐋떠나요</a>
            </div>
            <ul class="menu">
                <li><a href="/">홈</a></li>
                <li class="dropdown">
                    <a href="#travel" class="dropbtn">추천콕콕</a>
                    <div class="dropdown-content">
                        <a href="#recommendation">Travel Recommendation</a>
                        <a href="/api/ask">AI Recommendation</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#map" class="dropbtn">여행지도</a>
                    <div class="dropdown-content">
                        <a href="#travelmap">Travel Map</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="/" class="dropbtn">게시판</a>
                    <div class="dropdown-content">
                        <a href="/board/list">유저게시판</a>
                    </div>
                </li>
                <li><a href="#support">여행정보</a></li>
            </ul>
            <div class="search-container">
                <a href="/user/login">
                    <button type="button" class="login-button" href="/user/login">Login</button>
                </a>

                <a href="/user/signup">
                    <button type="button" class="login-button">Signup</button>
                </a>
            </div>
        </nav>
    </div>
</div>
</body>
</html>
