<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout1.html}">
<!--layout:decorate에 보내줘야지 적용가능!-->
<head>
    <meta charset="UTF-8">
    <link th:href="@{./css/home.css}" rel="stylesheet">
    <th:block layout:fragment="script">
        <script th:src="@{/js/home.js}" type="text/javascript"></script>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="main">
        <div class="slideshow-container">
            <div class="slides">
                <div class="slide">
                    <!--임의로 지정해둠 - 일휘 - -->
                    <img src="http://tong.visitkorea.or.kr/cms/resource/43/3115843_image2_1.jpg" style="width:100%">
                </div>
                <div class="slide">
                    <img src="http://tong.visitkorea.or.kr/cms/resource/55/3018555_image2_1.png" style="width:100%">
                </div>
                <div class="slide">
                    <img src="http://tong.visitkorea.or.kr/cms/resource/47/3018347_image2_1.jpg" style="width:100%">
                </div>
            </div>
            <div class="controls">
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <button class="pause" id="pauseButton" onclick="togglePause()">Pause</button>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </div>
        <div class="content-division gray-background">
            <div class="title">
                <h2>Recommended Travel Destinations by Region</h2>
            </div>
            <div class="button-row">
                <button onclick="redirectToNaver('서울')">서울</button>
                <button onclick="redirectToNaver('인천')">인천</button>
                <button onclick="redirectToNaver('대전')">대전</button>
                <button onclick="redirectToNaver('대구')">대구</button>
                <button onclick="redirectToNaver('경기')">경기</button>
                <button onclick="redirectToNaver('부산')">부산</button>
                <button onclick="redirectToNaver('울산')">울산</button>
                <button onclick="redirectToNaver('광주')">광주</button>
                <button onclick="redirectToNaver('강원')">강원</button>
                <button onclick="redirectToNaver('제주')">제주</button>
                <button onclick="redirectToNaver('세종')">세종</button>
            </div>
            <div class="image-row">
                <a th:href="@{'/searchresultinfo?contentId=' + ${content[0]}+'&contentTypeId='+${contenttype[0]}}" th:unless="null" class="image-a">
                    <img th:src="${img[0]}" alt="Image" class="image-a">
                </a>
                <a th:href="@{'/searchresultinfo?contentId=' + ${content[1]}+'&contentTypeId='+${contenttype[1]}}" th:unless="null" class="image-a">
                    <img th:src="${img[1]}" alt="Image" class="image-a">
                </a>
                <a th:href="@{'/searchresultinfo?contentId=' + ${content[2]}+'&contentTypeId='+${contenttype[2]}}" th:unless="null" class="image-a">
                    <img th:src="${img[2]}" alt="Image" class="image-a">
                </a>
                <a th:href="@{'/searchresultinfo?contentId=' + ${content[3]}+'&contentTypeId='+${contenttype[3]}}" th:unless="null" class="image-a">
                    <img th:src="${img[3]}" alt="Image" class="image-a">
                </a>
            </div>
        </div>
    </div>
    <div class="content-division gray-background content-split">
        <div class="left-side">
            <img th:src="${notice[5]}" th:unless="null" alt="Image" class="square-image">
        </div>
        <div class="right-side">
            <h2>Notices</h2>
            <ul class="notice-list">
                <li><a href="#notice1">Notice 1</a></li>
                <li><a href="#notice2">Notice 2</a></li>
                <li><a href="#notice3">Notice 3</a></li>
                <li><a href="#notice4">Notice 4</a></li>
                <li><a href="#notice5">Notice 5</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>