<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout1.html}">

<head>
    <link th:href="@{./css/searchresultinfo.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Detail Information</title>
</head>
<body>
<div layout:fragment="content">
    <h1 style="text-align: center; border: 1px solid black;"><span th:text="${item.title}">Title</span></h1>
    <div style="text-align: center;">
        <div class="left-column">
            <label>주소</label>
            <p th:text="${item.addr1}">Address</p>
            <img th:src="${item.firstimage}" alt="Image">
        </div>
        <div style="width: 1200px; text-align: center; margin:0 auto">
            <input th:value="${item.mapx}" hidden>
            <input th:value="${item.mapy}" hidden>
            <input th:value="${item.title}" hidden>
            <p th:text="${item.overview}"></p>
        </div>
    </div>
    <div class="wrap_content">
        <div class="wrap_map">
            <div id="map" style="width:1200px; height: 500px; margin: 0 auto;"></div>
            <div class="wrap_button">
                <a href="javascript:;" class="btn_comm btn_linkMap" target="_blank" onclick="moveKakaoMap(this)">
                    <span class="screen_out">지도 크게보기</span>
                </a>
                <a href="javascript:;" class="btn_comm btn_resetMap" onclick="resetKakaoMap()">
                    <span class="screen_out">지도 초기화</span>
                </a>
            </div>
        </div>
    </div>
    <script th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${kakaoApiKey} + '&libraries=services'"></script>

    <script th:inline="javascript">
        var map, mapCenter, mapOption, title;

        //지도 이동 이벤트 핸들러
        function moveKakaoMap(self) {
            if (!map || !map.getCenter) {
                console.error("Map object is not defined correctly");
                return;
            }

            var center = map.getCenter(),
                lat = center.getLat(),
                lng = center.getLng();

            self.href = 'https://map.kakao.com/link/map/' + encodeURIComponent(title) + ',' + lat + ',' + lng;
        }

        //지도 초기화 이벤트 핸들러
        function resetKakaoMap() {
            if (!mapCenter || !map.setCenter || !map.setLevel) {
                console.error("Map object or mapCenter is not defined correctly");
                return;
            }

            map.setCenter(mapCenter);
            map.setLevel(mapOption.level);
        }

        document.addEventListener("DOMContentLoaded", function () {
            var mapx = /*[[${item.mapx}]]*/ '0';
            var mapy = /*[[${item.mapy}]]*/ '0';
            var title = /*[[${item.title}]]*/ 'Title';

            console.log("mapx:", mapx, "mapy:", mapy, "title:", title);

            var xaixs = Math.round(mapx * 1000000) / 1000000;
            var yaixs = Math.round(mapy * 1000000) / 1000000;

            var mapContainer = document.getElementById('map');
            mapCenter = new kakao.maps.LatLng(yaixs, xaixs);
            mapOption = {
                center: mapCenter,
                level: 4
            };

            map = new kakao.maps.Map(mapContainer, mapOption);

            var mMarker = new kakao.maps.Marker({
                position: mapCenter,
                map: map
            });
        });
    </script>
</div>
</body>
</html>
